.badge {
  cursor:auto!important;
}
.clear {
    clear:both;
}
/* Background colors */
.bg-red,
.bg-yellow,
.bg-aqua,
.bg-blue,
.bg-light-blue,
.bg-green,
.bg-navy,
.bg-teal,
.bg-olive,
.bg-lime,
.bg-orange,
.bg-fuchsia,
.bg-purple,
.bg-maroon,
.bg-black {
  color: #f9f9f9 !important;
}
.bg-gray {
  background-color: #eaeaec !important;
}
.bg-black {
  background-color: #222222 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.bg-maroon {
  background-color: #85144b !important;
}
/* Text colors */
.text-red {
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua {
  color: #00c0ef !important;
}
.text-blue {
  color: #0073b7 !important;
}
.text-black {
  color: #222222 !important;
}
.text-light-blue {
  color: #3c8dbc !important;
}
.text-green {
  color: #00a65a !important;
}
.text-navy {
  color: #001f3f !important;
}
.text-teal {
  color: #39cccc !important;
}
.text-olive {
  color: #3d9970 !important;
}
.text-lime {
  color: #01ff70 !important;
}
.text-orange {
  color: #ff851b !important;
}
.text-fuchsia {
  color: #f012be !important;
}
.text-purple {
  color: #932ab6 !important;
}
.text-maroon {
  color: #85144b !important;
}

/* box-color */
.has-warning {
  border-color: #f39c12 !important;
  border-width: 2px;
  box-shadow: none;
}
.has-error {
  border-color: #f56954 !important;
  border-width: 2px;
  box-shadow: none;
}
/* width */
.hhmm, 
.w50
{
    width:50px;
}
.w30 {
    width:30px;
}
.w80 {
    width:80px;
}
.w100 {
    width:100px;
}
.w150 {
    width:150px;
}
.w300 {
    width:300px;
}
.w450 {
    width:450px;
}
.w100p {
    width:100%;
}

/* ボタン内左寄せアイコン */
.btn.btn-box i { 
    float:left;
    margin:4px 5px 0 -4px;
}
.btn.btn-large.btn-box i {
    margin:3px 0 0 0;
}
/* ボタンの縦並びグループ(各TOP画面) */
fieldset.button-set {
    margin:20px;
}
.button-group {
    margin-bottom:9px;
    text-align:center;
}
.button-group .buttons button {
    width:300px;
    margin-bottom:10px;
}

/* ヘッダに並べるタブ */
.widget-header .header_tab {
    float:left;
    border-right: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor:pointer;
}
.widget-header .header_tab.selected
{
    color: #555555;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.widget-header .header_tab.disabled
{
    cursor: default;
}
.widget-header .header_tab.disabled i,
.widget-header .header_tab.disabled h3
{
    color:#ddd;
}
.widget-header .header-buttons {
    float:right;
    margin-right:10px;
}
